img {
    width: 400px;
    height: auto;
}

* {
    font-family: Helvetica, sans-serif;
    background-color: lightyellow;
    width: 500px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

.ingredients {
    font-style: italic;
}

